<div class="player" ng-repeat="player in current.players as players" ng-style="getPlayerCSS(players,player,windowSize)">

  <div class="open" ng-if="! player.close">
    <div ng-repeat="item in items" ng-class="item.css" ng-if="item.hasOwnProperty('css') && (!item.hasOwnProperty('anonymous') || (anonymous == item.anonymous))">
      <div ng-style="getItemCSS(item, player[item.key].length)">
        <div ng-style="getRankColorCSS(item, player[item.key])">
          {{getDisplayValue(item ,player[item.key])}}
        </div>
      </div>
    </div>
  </div>

  <div class="overRect" ng-if="player.close">
    <div class="overRectBlind"></div>
    <div ng-repeat="item in items" ng-class="item.css" ng-if="item.hasOwnProperty('close-css')">
      <div ng-style="getItemCSS(item, player[item.key].length)">
        <div ng-style="getRankColorCSS(item, player[item.key])">
          {{getDisplayValue(item ,player[item.key])}}
        </div>
      </div>
    </div>
  </div>

  <div ng-repeat="item in items" ng-class="item.css_img" ng-if="item.hasOwnProperty('css_img')">
    <img ng-class="player[item.key]" ng-src="../../img/{{item.css_img_file[player[item.key]]}}" ng-if="item.css_img_file.hasOwnProperty(player[item.key]) && item.key != 'rank'"></img>
    <img ng-class="rank" ng-src="../../img/{{item.css_img_file[player['rank']]}}" ng-if="item.css_img_file.hasOwnProperty(player['rank']) && player['rank'] <= property.maxRankDisplay"></img>
  </div>
  <div ng-repeat="action in actions" ng-class="action.css" ng-if="! viewMode && ! anonymous">
    <button ng-click="func_player_scope(action.action, player)" ng-class="action.button_css" ng-disabled="! func_player_scope(action.enable,player)">
      {{action.name}}
    </button>
  </div>
  <div ng-transclude></div>
  <hr class="hr1" />
  <hr class="hr2" />
</div>
