<!doctype html>
<html ng-app="myxQuiz">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" href="css/bootstrap.min.css" >
		<script src="js/libs/angular.min.js"></script>
		<script src="js/libs/angular-cookies.min.js"></script>
		<script src="js/libs/ngStorage.min.js"></script>
		<script src="js/libs/ui-bootstrap-tpls-0.13.3.min.js"></script>
		<script src="js/libs/angular-animate.min.js"></script>
		<script src="js/libs/angular-resource.min.js"></script>

		<script src="js/app.js"></script>
		<script src="js/controller/main.js"></script>
		<script src="js/controller/index.js"></script>
		<script src="js/factory/qcommon.js"></script>
		<script src="js/factory/round.js"></script>
		<script src="js/rule/nomx.js"></script>
	</head>

	<body ng-controller="index">
		<table class="table">
			<tr>
				<th>#</th>
				<th>ラウンド名</th>
				<th>問目</th>
				<th><a href="javascript:void(0);" ng-click="initialize()">初期化</a></th>
			</tr>
			<tr ng-repeat="round in rounds">
				<td> {{rounds.indexOf(round)}} </td>
				<td><a target="_blank" ng-click="round.click()" href="javascript:void(0);">{{round.name}}</a></td>
				<td> {{round.qCount}} </td>
				<td>
				<button class="btn btn-sm" ng-disabled="! round.initializable" ng-click="round.initialize()">
					初期化
				</button></td>
			</tr>
		</table>
	</body>
</html>